<!DOCTYPE html>
<html>
    <head>
        <title>Privacy Policy</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <script>let serverVisitorId = '{{ visitor_id }}';</script>
        <style>
            .subtitle {
                font-weight: bold;
                font-size: 1.25rem;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
            }

            .underline {
                text-decoration: underline;
            }
        </style>

    </head>
    <body>
        <div id="header-b"></div>

        <div id="load-donate-popup-b" style="display: none;"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center my-4">Privacy Policy</h1>

                    <p>
                        As soon as you visit join-the-pipe-foundation.org or decide to contact us, we will receive information about you. Within this Privacy Policy, we would like to outline how we use this information. In accordance with the General Data Protection Regulation (GDPR), we handle your information with care and store it securely. If you have any questions, please do not hesitate to contact us directly at info@jointhepipe.org  Join the Pipe Foundation might amend this Privacy Policy if necessary. This Privacy Policy was last modified on 02 May 2023.
                    </p>

                    <p class="subtitle">Contents</p>
                    <ul>
                        <li>When Does This Privacy Policy Apply?</li>
                        <li>Who Uses This Information?</li>
                        <li>Whose Data Do We Processes?</li>
                        <li>How Do We Receive Your Data?</li>
                        <li>What Data Do We Use?</li>
                        <li>What Do We Use This Data For?</li>
                        <li>How Long Do We Store Personal Data?</li>
                        <li>Who Do We Share The Personal Data With?</li>
                        <li>What Are Your Rights?</li>
                        <li>What Rules Apply to this Privacy Policy?</li>
                        <li>Do You Have Any Questions About This Privacy Policy?</li>
                    </ul>

                    <p class="subtitle underline">When Does This Privacy Policy Apply?</p>
                    <p>This Privacy Policy applies towards all personal data that Join the Pipe processes. This concerns each individual that has visited join-the-pipe-foundation.org. Personal data is any and all data that can be traced back to an individual. If you would like to know more about personal data, visit the website of the Dutch Data Protection Agency.</p>

                    <p class="subtitle underline">Who Uses This Information?</p>
                    <p>Join the Pipe is responsible for the website join-the-pipe-foundation.org. Join the Pipe is responsible for the use of any and all personal data as described in this Privacy Policy. The full details are:</p>

                    <p>
                        Join the Pipe
                        <br>Danzigerbocht 45-F
                        <br>1013 AM Amsterdam
                        <br>The Netherlands
                    </p>

                    <p>
                        IBAN: NL13ABNA0601576381
                        <br>VAT number: 8522.69.341.B01
                        <br>KVK / Chamber of Commerce: 56697074
                    </p>

                    <p class="subtitle underline">Whose Data Do We Processes?</p>
                    <p>Join the Pipe processes the personal data of each individual that visits join-the-pipe-foundation.org.</p>

                    <p class="subtitle underline">How Do We Receive Your Data?</p>
                    <p>Join the Pipe receives each individual’s data directly when an individual visits join-the-pipe-foundation.org.</p>

                    <p class="subtitle underline">What Data Do We Use?</p>
                    <p>Join the Pipe uses the following:</p>

                    <ul>
                        <li>Interaction records with the website elements</li>
                        <li>Device Information</li>
                        <li>Page dwell time</li>
                        <li>IP address</li>
                    </ul>

                    <p class="subtitle underline">What Do We Use This Data For?</p>
                    <p>Join the Pipe uses each individual’s personal data for the purpose of which we are allowed to use it. On join-the-pipe-foundation.org, Join the Pipe receives each individual's permission to use personal data when individuals agree to have their personal data collected.</p>

                    <p class="subtitle underline">How Long Do We Store Personal Data?</p>
                    <p>Join the Pipe will keep each individual’s personal data for as long as required by Dutch law and for as long as necessary for the purpose by which each individual’s personal data is used. This information is processed within the European Economic Area (EEA) and is stored within the EEA. If you have any questions, please contact info@jointhepipe.org</p>

                    <p class="subtitle underline">Who Do We Share The Personal Data With?</p>
                    <p>Join the Pipe processes each individual’s personal data personally. Join the Pipe does not share this information with third parties.</p>

                    <p class="subtitle underline">What Are Your Rights?</p>
                    <p>Right to Information:</p>
                    <p>Join the Pipe must explain in an understandable and straightforward manner with which each individual’s personal data is used.</p>

                    <p>Right to Access:</p>
                    <p>As an individual, you may ask to view which personal information Join the Pipe collects.</p>

                    <p>Right to Restriction:</p>
                    <p>As an individual, you may ask to limit your personal information usage.</p>

                    <p>Right to be Forgotten:</p>
                    <p>As an individual, you may ask Join the Pipe to delete any all personal information we have stored.</p>

                    <p class="subtitle underline">What Rules Apply to this Privacy Policy?</p>
                    <p>Join the Pipe’s Privacy Policy must meet several conditions. These conditions can be found in the Dutch General Data Protection Regulation. Furthermore, any and all general regulations apply under Dutch law apply to this Privacy Policy.</p>

                    <p class="subtitle underline">Do You Have Any Questions About This Privacy Policy?</p>
                    <p>If you have any questions, please contact info@jointhepipe.org</p>
                </div>
            </div>
        </div>

        <div class="separator"></div>
        <div id="footer-b"></div>
        <script src="{{ url_for('static', filename='js/script_b.js') }}"></script>
        <div id="load-privacy-banner-b"></div>
    </body>
</html>